@model PROMPERU.AULAVIRTUAL.WEB.ViewModel.Home.LoginViewModel

@{ Layout = "~/Views/Shared/_Layout_new.cshtml"; }




<section class="seccion formularios" style="background: url(@("imagenlogin".Label())); background-size: cover; background-position: center; background-repeat: no-repeat;">
    <div class="content">
        <div class="content-form content-form-login">
            @MessageHelpers.ShowMessages(TempData)
            <form id="login" action="@Url.Action("Index","Login")" method="post">
                @Html.AntiForgeryToken()
                @Html.HiddenFor(x => Model.ReturnUrl)
                <h2>Iniciar sesión</h2>
                <div class="form-group">
                    <div class="row">

                        <div class="form-group">
                            <label for="emailLogin">Nombre de usuario / Correo electrónico</label>
                            @Html.TextBoxFor(x => Model.Codigo, new { @class = "form-control", @placeholder = "Nombre de usuario / Correo electrónico ", @autocomplete = "off" })
                            @Html.ValidationMessageFor(x => Model.Codigo)
                        </div>

                    </div>
                    <div class="row">
                        <div class="form-group">
                            <label for="password">Contraseña</label>

                            @Html.PasswordFor(x => Model.Contrasena, new { @class = "form-control", @placeholder = "Contraseña", @autocomplete = "off" })
                            @Html.ValidationMessageFor(x => Model.Contrasena)
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <div class="icheck-primary">
                                    <input type="checkbox" id="loginActive" name="loginActive">
                                    <label for="loginActive">
                                        Mantener mi cuenta abierta
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <button type="submit" class="btn btn-primary">Ingresar</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <span id="errorGeneral" class="errorGeneral" style="display: none;"><img src="@Url.GetCmsResourceUrl("assets/images/iconos/alert_msj.png")"> El usuario y/o contraseña son incorrectos</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <span id="olvidoContrasena" class="olvidoContrasena">Olvidé mi contraseña</span>
                        </div>
                    </div>
                </div>
                <div class="form-group last-group">
                    <div class="row">
                        <div class="col-sm-12">
                            <a id="irRegistro" class="irRegistro" href="@Url.Action("Register","Front")">Registrarme</a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <a id="irInicio" class="irInicio" href="../">Volver al inicio</a>
                        </div>
                    </div>
                </div>
            </form>
            <div id="olvidoPass" class="message-login" style="display: none;">
                <h2>Olvidé mi contraseña</h2>
                <p>Ingresa el correo electrónico con el que te registraste:</p>




             



                @*@MessageHelpers.ShowMessages(TempData)*@
                <form id="olvidoPass" action="@Url.Action("ForgotPassword","Login")" method="post">
                    @Html.AntiForgeryToken()
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="emailRecover">Correo electrónico</label>
                                @*<input id="emailRecover" type="email" class="form-control" name="emailRecover">*@

                                @Html.TextBoxFor(x => Model.Codigo, new { @class = "form-control", @placeholder = "Correo" })
                                @Html.ValidationMessageFor(x => Model.Codigo)

                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <button type="submit" class="btn btn-primary">Enviar nueva contraseña</button>
                        </div>
                    </div>
                </form>
            </div>
            <div id="olvidoConfirm" class="message-login" style="display: none;">
                <h2>Olvidé mi contraseña</h2>
                <p>Malesuada praesent augue risus vulputate amet ipsum. Blandit elementum mollis habitasse mauris diam eget semper. Dignissim placerat neque pretium, eu dolor non massa posuere consequat. Amet quis feugiat sit placerat in.</p>
                <span class="btn btn-primary">Iniciar sesión</span>
            </div>
        </div>
    </div>
</section>
