@model PROMPERU.AULAVIRTUAL.WEB.ViewModel.Home.RestorePasswordViewModel
@{
    ViewBag.Title = "Cambiar contraseña";
    Layout = "~/Views/Shared/_Layout_new.cshtml";
}
<section class="seccion formularios" style="background: url(@("imagenlogin".Label())); background-size: cover; background-position: center; background-repeat: no-repeat;">
    <div class="content">
        <div class="content-form content-form-login">
            <div class="container">
                <div class="intro-text" style="text-align: -webkit-center;">
                    <div class="form-group text-center"><div class="lb-login-iniciar">Inicia Sesión</div></div>
                    <div class="col-md-12" style="text-align: -moz-center;">
                        @MessageHelpers.ShowMessages(TempData)
                        <form action="@Url.Action("RestorePassword")" class="form-login" role="form" method="post">
                            @Html.AntiForgeryToken()
                            @Html.HiddenFor(x => Model.CambioId)
                            <div class="form-group text-left">
                                @*@Html.LabelFor(x => Model.Codigo)*@
                                <label for="Email">Correo</label>
                                @Html.TextBoxFor(x => Model.Codigo, new { @class = "form-control frm-login frm-event", @placeholder = "Correo", @readonly = "readonly" })
                                @Html.ValidationMessageFor(x => Model.Codigo)
                            </div>
                            <div class="form-group text-left">
                                @Html.LabelFor(x => Model.Contrasena)
                                @Html.PasswordFor(x => Model.Contrasena, new { @class = "form-control frm-login frm-event", @placeholder = "contraseña" })
                                @Html.ValidationMessageFor(x => Model.Contrasena)
                            </div>
                            <div class="form-group text-left">
                                @Html.LabelFor(x => Model.ConfirmarContrasena)
                                @Html.PasswordFor(x => Model.ConfirmarContrasena, new { @class = "form-control frm-login frm-event", @placeholder = "contraseña" })
                                @Html.ValidationMessageFor(x => Model.ConfirmarContrasena)
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary">Cambiar contraseña</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </section>
