@model PROMPERU.AULAVIRTUAL.WEB.ViewModel.Evaluation.EditPreguntaCursoOnlineViewModel

@{
    ViewBag.Title = "PreguntaCursoOnline";
}

@section Breadcrumbs{
    <li><a href="@Url.Action("ListPreguntaCursoOnline", "Course")">@ViewBag.Title</a></li>
    
}

<div class="container-fluid container-fixed-lg">
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
					
                <div class="panel-heading">
                    <h3 class="panel-title">PreguntaCursoOnline</h3>
                </div>
					
				<form class="form form-horizontal" method="post">
                    <div class="panel-body">
							@Html.HiddenFor(x=>x.PreguntaCursoOnlineId)
						
							<div class='form-group'>
								@Html.LabelFor(x=>x.CursoOnlineId, new { @class="col-sm-3 control-label"})
								<div class='col-sm-9'>
									@Html.DropDownListFor(x => x.CursoOnlineId, new SelectList(Model.LstCursoOnline,"CursoOnlineId","@_DEF_Nombre"),"[- Seleccionar -]", new { @class="form-control"})
									@Html.ValidationMessageFor(x => x.CursoOnlineId)
								</div>
							</div>
							@Html.EditorFor(x=>x.Tipo)
							@Html.EditorFor(x=>x.NumRespuestas)
							@Html.EditorFor(x=>x.Texto)
							@Html.EditorFor(x=>x.Puntaje)
							@Html.EditorFor(x=>x.Estado)
					</div>
					
					<div class="panel-footer">
						<div class="row">
                            <div class="col-sm-9 col-sm-offset-3">
                                <button class="btn btn-primary" type="submit"><i class="fa fa-check"></i>&nbsp;Guardar</button>
								<a class="btn btn-default" href="@Url.Action("ListPreguntaCursoOnline", "Course")"><i class="fa fa-ban"></i>&nbsp;Cancelar</a>
							</div>
						</div>
					</div>
					
				</form>
				
            </div>
        </div>
    </div>
</div>
