@model PROMPERU.AULAVIRTUAL.BE.CMS.CMS_Banner
@{
    ViewBag.Title = "AddEditBannerNew";
    Layout = "~/Views/Shared/_LayoutDashbord.cshtml";
    ViewBag.SubSeccion = "Banner";
}
@section Breadcrumbs{
    <div class="row mb-2">
        <div class="col-sm-12">
            <ol class="breadcrumb float-sm-left">
                <li class="breadcrumb-item"><a href="#">Inicio</a></li>
                <li class="breadcrumb-item active">Banners</li>
            </ol>
        </div>
        <div class="col-sm-6">
            <h2 class="m-0">Banners</h2>
        </div>
    </div><!-- /.row -->
}
<div class="row">
    <div class="col-lg-12 box-grey-content">
        <h2>Agregar Banner</h2>
        <div class="content-form-grey">
            @*<form method="post" id="searchUser">*@
            @using (Html.BeginForm("AddEditBanner", "CMS", FormMethod.Post, new { @enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.Id)
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="">Nombre</label>

                        @Html.TextBoxFor(model => model.Nombre, new { @class = "form-control", required = "required", @placeholder = "Ingresar Titulo" })
                        @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="form-group file-avatar">
                        <label for="">Imagen</label>
                        <div class="type2">
                            <label class="input-file">
                                Seleccionar
                                @Html.TextBox("fileImagen", null, new { @class = "", @type = "file" })
                                @Html.ValidationMessageFor(model => model.Imagen, "", new { @class = "text-danger" })
                                <span class="file-choose-btn">Examinar</span>
                            </label>
                        </div>
                        <p class="note">Tamaño recomendado: 1440 x 700px</p>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="">Título Superior</label>

                        @Html.TextBoxFor(model => model.TituloSuperior, new { @class = "form-control", required = "required", @placeholder = "Ingresar Titulo Superior" })
                        @Html.ValidationMessageFor(model => model.TituloSuperior, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="">Título Inferior</label>

                        @Html.TextBoxFor(model => model.TituloInferior, new { @class = "form-control", required = "required", @placeholder = "Ingresar Titulo Inferior" })
                        @Html.ValidationMessageFor(model => model.TituloInferior, "", new { @class = "text-danger" })
                    </div>
                </div>


                <div class="col-sm-6" style="display: none">
                    <div class="form-group">
                        <label for="">Sub Título</label>

                        @Html.TextBoxFor(model => model.SubTitulo, new { @class = "form-control", @placeholder = "Ingresar Sub Titulo" })
                        @Html.ValidationMessageFor(model => model.SubTitulo, "", new { @class = "text-danger" })
                    </div>
                </div>


                <div class="col-sm-12">
                    <div class="form-group">
                        <div class="icheck-primary activo-2">



                            @Html.CheckBoxFor(m => m.EsPublicado, new { @checked = "checked" })
                            <label for="EsPublicado">
                                ¿Está activo?
                            </label>

                        </div>
                    </div>
                </div>


        

 
            </div>
                <div class="row">
                    <div class="col-sm-6 form-btn">
                        <input type="submit" class="btn btn-primary" value="Guardar">
                        <a href="@Url.Action("ListBanner","CMS")" class="btn btn-secondary">Cancelar</a>
                    </div>
                </div>
            }

        </div>
    </div>
</div>


