@model IEnumerable<PROMPERU.AULAVIRTUAL.BE.CMS.CMS_Banner>

@{ 
    ViewBag.Title = "Banners";
    ViewBag.SubSeccion = "Banner";
}
@section Breadcrumbs{
    <div class="row mb-2">
        <div class="col-sm-12">
            <ol class="breadcrumb float-sm-left">
                <li class="breadcrumb-item"><a href="#">Inicio</a></li>
                <li class="breadcrumb-item active">Banners</li>
            </ol>
        </div>
        <div class="col-sm-6">
            <h2 class="m-0">Banners</h2>
        </div>
    </div><!-- /.row -->
}



<div class="row table-acciones table-content list-empresa">
    <div class="col-sm-6">
        <h2>Lista de Banners</h2>
    </div>
    <div class="col-sm-6 btns-table">
        <a class="btn btn-primary" href="@Url.Action("AddEditBanner", "CMS")">Agregar Banners</a>

    </div>
</div>
<div class="row mis-solicitudes table-content">
    <div class="col-sm-12 table-responsive altomin">
        <table cellpadding="0" cellspacing="0" border="0" width="100%" class="table-list tipo-empresa" align="center">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Imagen</th>
                    <th>Publicado</th>
                    <th>Opciones</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>

                           @item.Nombre
                        </td>
                        <td>
                            <img style="background-image:url('@(!String.IsNullOrEmpty(item.Imagen) ? Url.Content(item.Imagen) : "")'); background-size: contain; width:200px; height:100px; background-repeat: no-repeat; background-position: center;" />

                        </td>
                        <td>
                            @if (item.EsPublicado)
                            {
                                <text>Si </text> }
                            else
                            {
                                <text>No </text>}

                           
                        </td>
                        <td>
                            <div class="dropdown">
                                <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                                    Acciones
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                    <li><a class="dropdown-item" href="@Url.Action("AddEditBanner", "CMS", new { id = item.Id })">Editar</a></li>
                                    <li>
                                        <a class="dropdown-item" href="@Url.Action("ChangeStateBanner", "CMS", new { bannerid = item.Id })">
                                            @if (item.EsPublicado.Equals(false))
                                            {
                                                <text>Activar a Banner</text> }
                                            else
                                            {
                                                <text>Desactivar Banner</text>}
                                        </a>

                                    </li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                }


            </tbody>
        </table>
    </div>
</div>
