@model IEnumerable<PROMPERU.AULAVIRTUAL.BE.CMS.CMS_Testimonio>

@{
    ViewBag.Title = "Testimonios";
}
<div class="container-fluid container-fixed-lg">
    <div class="panel panel-default">
        <div class="panel-body">
            <h2>Testimonios</h2>

            <p>
                @Html.ActionLink("Agregar", "AddEditTestimonio")
            </p>
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            Título
                        </th>
                        <th>
                            Descripcion
                        </th>
                        <th>
                            Imagen
                        </th>
                        <th>
                            Publicado
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Titulo)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Descripcion)
                            </td>
                            <td>
                                <img style="background-image:url('@(item.Imagen != null ? Url.Content(item.Imagen) : "")'); background-size: contain; width:200px; height:100px; background-repeat: no-repeat; background-position: center;" />
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.EsPublicado)
                            </td>
                            <td>
                                @Html.ActionLink("Editar", "AddEditTestimonio", new { id = item.Id })
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>