@model IEnumerable<PROMPERU.AULAVIRTUAL.BE.CMS.CMS_Certificate>
@{
    ViewBag.Title = "ListCertificateNew";
    Layout = "~/Views/Shared/_LayoutDashbord.cshtml";
}

@section Breadcrumbs{
    <div class="row mb-2">
        <div class="col-sm-12">
            <ol class="breadcrumb float-sm-left">
                <li class="breadcrumb-item"><a href="#">Inicio</a></li>
                <li class="breadcrumb-item active">Certificacion</li>
            </ol>
        </div>
        <div class="col-sm-6">
            <h2 class="m-0">Certificacion</h2>
        </div>
    </div><!-- /.row -->
}
<div class="row table-acciones table-content list-empresa">
    <div class="col-sm-6">
        <h2>Lista de Certificados</h2>
    </div>
    <div class="col-sm-6 btns-table">
        <a class="btn btn-primary" href="@Url.Action("AddEditCertificate", "CMS")">Agregar Certificado</a>

    </div>
</div>
<div class="row mis-solicitudes table-content">
    <div class="col-sm-12 table-responsive altomin">
        <table cellpadding="0" cellspacing="0" border="0" width="100%" class="table-list tipo-empresa" align="center">
            <thead>
                <tr>
                    <th>
                        Nombre
                    </th>
                    <th>
                        Imagen
                    </th>
                    <th>
                        Sumilla
                    </th>
                    <th>
                        Publicado
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Nombre)
                        </td>
                        <td>
                            <img style="background-image:url('@(item.Imagen != null ? Url.Content(item.Imagen) : "")'); background-size: contain; width:200px; height:100px; background-repeat: no-repeat; background-position: center;" />
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Sumilla)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.EsPublicado)
                        </td>
                        <td>

                            
                            <a class="dropdown-item" href="@Url.Action("AddEditCertificate", "CMS", new { id = item.Id })">Editar</a>
                        </td>
                    </tr>
                }


            </tbody>
        </table>
    </div>
</div>