@model IEnumerable<PROMPERU.AULAVIRTUAL.BE.CMS.CMS_Banner>

@{
    ViewBag.Title = "Banners";
}

    <div class="container-fluid container-fixed-lg">
        <div class="panel panel-default">
            <div class="panel-body">
                <h2>Banners</h2>
                <p>
                    @Html.ActionLink("Agregar", "AddEditBanner")
                </p>
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                Nombre
                            </th>
                            <th>
                                Imagen
                            </th>
                            <th>
                                Publicado
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                   @item.Nombre
                                </td>
                                <td>
                                    <img style="background-image:url('@(!String.IsNullOrEmpty(item.Imagen) ? Url.Content(item.Imagen) : "")'); background-size: contain; width:200px; height:100px; background-repeat: no-repeat; background-position: center;" />
                                </td>
                                <td>
                                    @item.EsPublicado
                                </td>
                                <td>
                                    @Html.ActionLink("Editar", "AddEditBanner", new { id = item.Id })
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>