@model PROMPERU.AULAVIRTUAL.WEB.ViewModel.Notificaciones.EditAddNotificacionViewModel
@{
    ViewBag.Title = "EditAddNotificacionNew";
    Layout = "~/Views/Shared/_LayoutDashbord.cshtml";
}
@section Breadcrumbs{
    <div class="row mb-2">
        <div class="col-sm-12">
            <ol class="breadcrumb float-sm-left">
                <li class="breadcrumb-item"><a href="#">Inicio</a></li>
                <li class="breadcrumb-item active">Correos</li>
            </ol>
        </div>
        <div class="col-sm-6">
            <h2 class="m-0">Correos</h2>
        </div>
    </div><!-- /.row -->
}
<div class="row">
    <div class="col-lg-12 box-grey-content">
        <h2>Agregar Correo</h2>
        <div class="content-form-grey">
            <form method="post" id="searchUser">
                @Html.AntiForgeryToken()
                @Html.HiddenFor(x => x.NotificacionId)

                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="">Título</label>

                            @Html.TextBoxFor(x => x.Titulo, new { @class = "form-control", @placeholder = "Ingresar Título" })
                            @Html.ValidationMessageFor(x => x.Titulo)

                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="">Asunto</label>
                            @Html.TextBoxFor(x => x.Nombre, new { @class = "form-control", @placeholder = "Ingresar asunto" })
                            @Html.ValidationMessageFor(x => x.Nombre)
                        </div>
                    </div>





                    <div class="col-sm-12">
                        <div class="form-group">
                            <label for="">Descripción</label>

                            @Html.TextAreaFor(x => x.Contenido, new { @class = "form-control", @cols = "30", @rows = "10" })
                            @Html.ValidationMessageFor(x => x.Contenido)
                        </div>
                    </div>
                    <!--<div class="col-sm-12">
        <div class="form-group">
            <div class="icheck-primary activo-2">-->
                    @*<input type="checkbox" id="activo" name="activo">*@
                    <!--@Html.EditorFor(x => x.Estado)
                <label for="activo">
                    ¿Está activo?
                </label>
            </div>
        </div>
    </div>-->


                    <div class="col-sm-12">
                        <div class="form-group">
                            <div class="icheck-primary activo-2">
                                @Html.CheckBoxFor(m => m.Estado, new { @checked = "checked" })
                                <label for="Estado">
                                    ¿Está activo?
                                </label>
                            </div>
                        </div>
                    </div>


                </div>
                <div class="row">
                    <div class="col-sm-6 form-btn">
                        <input type="submit" class="btn btn-primary" value="Guardar">
                        <a href="@Url.Action("ListNotificaciones","Notificaciones")" class="btn btn-secondary">Cancelar</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
