@model PROMPERU.AULAVIRTUAL.WEB.ViewModel.Asesor.RegisterAsesorViewModel
@{
    ViewBag.Title = "EditAsesorNew";
    Layout = "~/Views/Shared/_LayoutDashbord.cshtml";
}


@section Breadcrumbs{
    <div class="row mb-2">
        <div class="col-sm-12">
            <ol class="breadcrumb float-sm-left">
                <li class="breadcrumb-item"><a href="#">Inicio</a></li>
                <li class="breadcrumb-item active">Asesores</li>
            </ol>
        </div>
        <div class="col-sm-6">
            <h2 class="m-0">Asesores</h2>
        </div>
    </div><!-- /.row -->
}
<div class="row">
    <div class="col-lg-12 box-grey-content">
        <div class="content-form-grey">
            <form action="@Url.Action("UpdateAsesor")" id="searchUser" method="post">

                <input name="UsuarioAsesor.TipoRegistro" type="hidden" value="1"><span class="checkmark"></span>
                @Html.HiddenFor(x => x.UsuarioId)
                @Html.HiddenFor(x => x.Nacionalidad)
                @Html.HiddenFor(x => x.Conversion)


                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="">Documento</label>
                            <select name="cbodocumento_val" id="cbodocumento_val" class="grupo form-control form-control-select form-select">
                                <option value="DNI">DNI</option>
                                <option value="OTROS">OTROS</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="">DNI</label>
                            @*<input type="text" class="form-control" id="DNI" name="DNI" placeholder="DNI">*@
                            @Html.TextBoxFor(x => Model.DNI, new { @class = "form-control", @placeholder = "DNI" })
                            @Html.ValidationMessageFor(x => Model.DNI)

                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="">Nombres</label>
                            @Html.TextBoxFor(x => Model.Nombres, new { @class = "form-control", @placeholder = "Nombres" })
                            @Html.ValidationMessageFor(x => Model.Nombres)
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="">Apellidos</label>
                            @Html.TextBoxFor(x => Model.Apellidos, new { @class = "form-control ", @placeholder = "Apellidos" })
                            @Html.ValidationMessageFor(x => Model.Apellidos)
                        </div>
                    </div>


                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="">Email</label>

                            @Html.TextBoxFor(x => Model.Email, new { @class = "form-control", @placeholder = "Ingresa el correo electrónico" })
                            @Html.ValidationMessageFor(x => Model.Email)

                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="">Confirmar Correo</label>
                            @Html.TextBoxFor(x => Model.ConfirmarEmail, new { @class = "form-control", @placeholder = "Confirma el correo electrónico" })
                            @Html.ValidationMessageFor(x => Model.ConfirmarEmail)
                        </div>
                    </div>


                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="">Password</label>

                            @Html.PasswordFor(x => Model.Password, new { @class = "form-control", @placeholder = "Ingresa el Password" })
                            @Html.ValidationMessageFor(x => Model.Password)
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="">Telefono</label>

                            @Html.TextBoxFor(x => Model.Telefono, new { @class = "form-control", @placeholder = "Ingresa el número telefónico" })
                            @Html.ValidationMessageFor(x => Model.Telefono)
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="">Cargo</label>
                            @Html.TextBoxFor(x => Model.Cargo, new { @class = "form-control", @placeholder = "Ingresa el cargo" })
                            @Html.ValidationMessageFor(x => Model.Cargo)
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="">Nacionalidad</label>
                            @Html.DropDownListFor(x => Model.NacionalidadId2, new SelectList(Model.Nacionalidades, "ParametroId", "Descripcion"), "[- Seleccionar -]", new { @id = "cbonacionalidad", @class = "form-control" })
                            @Html.ValidationMessageFor(x => Model.NacionalidadId2)
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="">Sector Interes</label>
                            @Html.DropDownListFor(x => Model.Sector, new SelectList(Model.LstSector, "SectorId", "Descripcion"), "[- Seleccionar -]", new { @id = "cbosector", @class = "form-control" })
                            @Html.ValidationMessageFor(x => Model.Sector)
                        </div>
                    </div>


                </div>
                <div class="row">
                    <div class="col-sm-6 form-btn">
                        <input type="submit" class="btn btn-primary" value="Guardar">
                        <a href="@Url.Action("ListAddAsesor","Asesor")" class="btn btn-secondary">Cancelar</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


